<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{#title}}{{title}} - {{/title}}Aggregato</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link type="text/css" rel="stylesheet" href="/style.min.css">
        <script type="application/javascript" src="/script.min.js"></script>
    </head>
    <body>
