{{>header}}
    <div class="container my-4">
        <div class="row">
            {{#items}}
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body col p-0">
                            <h4 class="card-title p-3 m-0">{{title}}</h4>
                            {{#image}}
                                <img src="{{image}}" alt="{{title}}" class="card-img-top rounded-0" />
                            {{/image}}
                            <p class="card-text p-3 m-0">{{{summary}}}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{#formatDate}}{{published}}{{/formatDate}}
                            <a href="{{link}}" target="_blank" class="btn btn-link btn-sm p-0 float-right" rel="nofollow">Continue reading &rarr;</a>
                        </div>
                    </div>
                </div>
            {{/items}}
            {{^items}}
                <div class="col">
                    <div class="alert alert-info">Waiting for feeds to parse...</div>
                </div>
            {{/items}}
        </div>
    </div>
{{>footer}}
