{{>header}}
    <div class="container my-4">
        <div class="d-flex">
            <div class="card">
                <div class="card-body p-0">
                    <h4 class="card-title p-3 m-0">Title</h4>
                    <img src="https://placehold.it/250x200" alt="Title" class="card-img-top rounded-0" />
                    <p class="card-text px-3 pt-3 m-0">Text</p>
                    <a href="#" target="_blank" class="btn btn-link btn-sm p-3">Continue reading</a>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
